body {
  margin: 0;
  font-family: 'Arimo', sans-serif;
  background-color: #A88768;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1100px;
  background-color: #A88768;
}

.back {
  text-transform: uppercase;
  font-weight: 900;
  position: absolute;
  color: white;
  margin-top: -70px;
  font-size: 20px;
  cursor: pointer;
}

.text-section {
  color: #EFECE7;
  flex: 1;
  margin-top: 1000;
  padding-right: 100px;
}

.section-title {
  font-weight: 900;
  text-transform: uppercase;
  color: #EFECE7;
  margin-bottom: 10px;
  letter-spacing: 1px;
  cursor: pointer;
}

.decorative-line {
  width: 40vw;
  max-width: 300px;
  min-width: 200px;
  height: 1px;
  background-color: white;
  margin-bottom: 10px;
}

.cafe-name {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 40px;
  margin: 0 0 20px 0;
  cursor: pointer;
}

.address {
  color: #E8E0D2;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.address a {
  color: #E8E0D2;
  text-decoration: none;
}

.address a:hover {
  text-decoration: underline;
}

.price {
  color: #EFECE7;
  font-weight: 200;
  font-size: 18px;
  cursor: pointer;
}

.opening {
  color: #EFECE7;
  font-weight: 200;
  font-size: 18px;
  cursor: pointer;
}

.contact {
  color: #EFECE7;
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}

.copy-text {
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.copy-text:hover {
  text-decoration: underline;
}

.instagram {
  color: #ffffff;
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 30px;
  cursor: pointer;
}

.instagram a {
  color: #ffffff;
  text-decoration: none;
}

.gallery-button {
  background-color: #ffffff;
  color: #A88768;
  font-weight: 450;
  border: none;
  border-radius: 25px;
  padding: 12px 40px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  max-width: 1100px;
  background-color: #A88768;
  position: relative; 
}

.image-section {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.image-section img {
  width: 90%;
  max-width: 1000px;
  border: 5px solid #EFECE7;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  aspect-ratio: 4 / 3;
  object-fit: cover;
}